.item3{
    padding: 0.5rem;
    text-align: center;
    min-height: 300px;
}
p.card-text{
    font-weight: bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: large;
    letter-spacing: 10px;
}

