p{
    background-color: beige;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    background-color:#de8787;
    padding: 1px;
    margin-top: 5rem;
}
.footer-item2{
    white-space: nowrap;
}
